html, body, main{
    margin: 0;
    height: 1300px;
    background-color: rgb(246, 246, 246);
}

header{
    background-color: #3d3d3d;
    width: 100%;
    height: 60px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    #header-content{
        height: 30px;
        width: 50%;

        .search{
            background-color: red !important;
            width: 1000px;
            height: 20px;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;

        h1{
            color: white;
            margin: 0;
            font-family: "Montserrat", serif;
            font-size: 25px;
        }

        #header-buttons{
            width: 70px;
            height: 30px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            .h-button{
                width: 16px;
                height: 16px;
                background-color: azure;
                border-radius: 50%;
                cursor: pointer;
                padding: 7px;

                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    width: 16px;
                    height: 16px;
                }
            }
        }


        
    }
}

.header-scroll{
    background-color: white;
    
    #header-content{
        h1{
            color: black;
        }

        #header-buttons{
            .h-button{
                background-color: rgb(184, 186, 186);
            }
        }
    }
}

main{

    display: flex;
    align-items: center;
    flex-direction: column;

    #loja-status{
        width: 100%;
        height: 20px;
        background-color: rgba(162, 244, 161, 0.5);
        color: #338a2f;
        margin-bottom: 15px; margin-top: 20px;
        border-radius: 5px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    section{
        width: 50%;
    }

    #destaque{
        height: 200px;

        h1{
            margin: 0;
            font-family: "Montserrat", serif;
            font-weight: bold;
            font-size: 17px;
            margin-bottom: 10px;
        }

        #destaque-content{

            gap: 10px;
            display: flex;
            flex-direction: row;

            .destaque-item{

                cursor: pointer;
                transition: all 0.3s;

                .h1-item{
                    font-size: 14px;
                    margin: 0;
                }

                img{
                    border-radius: 4px;
                    width: 135px;
                    height: 135px;
                }

                &:hover{
                    transform: scale(1.05);
                }

            }
        }

    }

    #categoria{
        margin-top: 70px;
        width: 50%;

        .categoria{
            width: 100%;
            
            h1{
                margin: 0;
                margin-top: 30px;
                margin-bottom: 5px;
                font-family: "Montserrat", serif;
                font-size: 20px;
            }

            .categoria-itens{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 10px;

                .categoria-item{
                    
                    cursor: pointer;
                    padding: 7px;
                    height: 100px;
                    background-color: #eeeeeea1;
                    border: 1px solid #d5d3d3;
                    border-radius: 8px;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    transition: all 0.3s;

                    &:hover{
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    }

                    .categoria-item-text{
                        color: #565656;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 9px;

                        h2{
                            margin: 0;
                        }

                        .price{
                            margin-top: 6px;
                            color: black;
                            font-weight: bold;
                        }
                    }

                    img{
                        border-radius: 4px;
                        height: 90px;
                        width: 90px;

                    }
                }
            }
        }
    }
}

#nav-bar{
    box-shadow: 0 -15px 45px #0a0a0a1a;
    background-color: white;
    width: 100%;
    height: 50px;
    bottom: 0;

    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;

    #nav-bar-itens{
        width: 50%;
        height: 100%;

        display: flex;
        justify-content: space-between;

        .nav-bar-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4px;
            cursor: pointer;

            img{
                height: 17px;
                width: 17px;
            }

            p{
                color: #4a4949;
                margin: 0;
                font-size: 12.5px;
                font-family: Arial, Helvetica, sans-serif
            }
        }
    }
}